body {
  margin: 30px;
  font-family: Helvetica Neue, Helvetica, sans-serif;
}

h1 {
  color: #424242;
}

.description {
  font-family: Georgia, sans-serif;
  max-width: 800px;
}

th {
  background: #dfdfdf;
  font-weight: bold;
}

td,th {
  border: 1px solid transparent;
  height: 30px;
}

tr:nth-child(even)  td {
  background: #f1f1f1;
}
tr:nth-child(odd) td {
  background: #fefefe;
}

td {
  padding: 0 10px;
  background: #fafafa;
  text-align: left;
}

.chart-footer {
  font-style: italic;
  font-size: 10pt;
  color: #aaa;
}

div.tooltip { 
    position: absolute;     
    text-align: center;     
    width: 90px;          
    height: 28px;         
    padding: 2px;       
    font: 12px sans-serif;
    color: white;  
    background: #a4a4a4; 
    border: 0px;    
    border-radius: 8px;     
    pointer-events: none;     
}

.lazy {
    fill: #349698;
}

.active{
    fill: #ee1f4f;
}

.meh{
    fill: #424242;
}